# --- For-Bot-Working --------- #
pyrogram>=2.0.30  # Add specific version to avoid potential issues
TgCrypto>=1.2.2
pyromod==1.5

# --- For-Database ------------ #
pymongo>=4.5,<5    # Specify a version that works with motor if needed later
dnspython>=2.2.1

# --- For-Web-Response ------- #
aiohttp>=3.8.1
