# --- For-Bot-Working --------- #
pyrogram
TgCrypto
pyromod  # Remove the `==1.5` version constraint

# --- For-Database ------------ #
pymongo  # Remove specific version constraint
dnspython

# --- For-Web-Response ------- #
aiohttp
